@import url('https://fonts.googleapis.com/css2?family=Playball&family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&family=Playball&family=Roboto&display=swap');


h1 {
    font-family: 'Playball';
    color: #126BA5;
    font-size: 69px;

}

input {
    width: 303px;
    height: 45px;
    border: 1px solid #D5D5D5;
    border-radius: 5px;
    padding-left: 11px;
    box-sizing: border-box;
    margin-bottom: 6px;
    
}

::placeholder{
    font-family: 'Lexend Deca';
    font-size: 20px;
    Color: #DBDBDB;
    
}

.inputs {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 68px;
}
.inputs img {
    margin-bottom: 32px;
}

button {
    background-color: #52B6FF;
    width: 303px;
    height: 45px;
    border: 1px solid #D5D5D5;
    border-radius: 5px;    
    box-sizing: border-box;
    margin-bottom: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
}
button p{
    font-family: 'Lexend Deca';
    font-size: 21px;
    Color: #ffffff;
}
a {
    margin-top: 25px;
}
a p{
    font-family: 'Lexend Deca';
    font-size: 14px;
    Color: #52B6FF;
    text-decoration: underline;
}
.topo {
    background-color: #126BA5;
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 18px;
    box-sizing: border-box;
}
.topo h1{
    color: #ffffff;
    font-size: 39px;
}
.add-meus-habitos {
    width: 100%;
    height: 85px;
    background-color: #E5E5E5;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 18px;
    box-sizing: border-box;
}
.add-meus-habitos p {
    font-family: 'Lexend Deca';
    font-size: 23px;
    color: #126BA5;    
}
.add-habito {
    background-color: #52B6FF;
    width: 40px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    box-sizing: border-box;
}
.add-habito h2{
    font-family: 'Lexend Deca';
    color: #ffffff;
    font-size: 27px;
   
}
